{% extends "base.html" %}

{% block title %}
Atlas Dashboard
{% endblock %}

{% block content %}

<h1>Dashboard</h1>

<br>

<div style="display:grid;grid-template-columns:repeat(4,1fr);gap:20px;">

    <div class="card">
        <h3>Today's Opportunities</h3>
        <h1>0</h1>
    </div>

    <div class="card">
        <h3>Products</h3>
        <h1>0</h1>
    </div>

    <div class="card">
        <h3>Brands</h3>
        <h1>0</h1>
    </div>

    <div class="card">
        <h3>Cash Available</h3>
        <h1>£0</h1>
    </div>

</div>

{% endblock %}